@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

/* Custom scrollbar for a cleaner WhatsApp look */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ced0d1;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
